img{
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

nav{
  background-image: linear-gradient(180deg, #00ffff 0, #43f2ff 25%, #53bcf2 50%, #508aaf 75%, #445e74 100%);
}
.navbar-brand{
  display: flex;
  align-items: center;

}
.center{
  text-align: center;
}
